.wdc-member-callout {
  text-transform: uppercase;
  font-weight: bold;
  color: $c-text-secondary;
  font-size: 11px;
  line-height: 15px;
  vertical-align: middle;
  margin-left: 13px;
  img {
    height: 13px;
  }
}
