<div class="sg-container">
  <section>
    <header>
      <h1 class="title__h1">Text Formatted Styles</h1>
      <h2 class="title__h2">Styles with Title Classes in CKEditor Field</h2>
    </header>
    <main class="sg-card  text-formatted">
      <h2 class="title__h2">H2 - Large Title</h2>

      <h3 class="title__h3">H3 - Medium Title</h3>

      <h4 class="title__h4">H4 - Small Title</h4>

      <p class="title__p">P - Normal Text</p>

      <p class="title__p"><span class="highlight">P - Highlighted Text</span></p>
    </main>
  </section>
  <section>
    <header>
      <h2 class="title__h2">Styles No Title Classes in CKEditor Field</h2>
    </header>
    <main class="sg-card text-formatted">
      <h2>H2 - Large Title</h2>

      <h3>H3 - Medium Title</h3>

      <h4>H4 - Small Title</h4>

      <p>P - Normal Text</p>

      <p><span class="highlight">P - Highlighted Text</span></p>

      <ul>
        <li>Unordered Item</li>
        <li>Unordered Item</li>
        <li>Unordered Item</li>
      </ul>

      <ol>
        <li>Ordered Item</li>
        <li>Ordered Item</li>
        <li>Ordered Item</li>
      </ol>

      <address class="address">123 Address</address>

      <div class="note">Div - Note styles</div>

      <pre class="code">Pre - Code Goes Here</pre>
    </main>
  </section>
</div>
