<div class="sg-matte">
  <div class="sg-container sg-sidebar">
    {% include '@organisms_reborn/regions/_region--sidebar.twig' with {
      'content': sidebar_region.blocks|join,
    }
    %}
  </div>
</div>
