<div class="file-upload-button-container" tabindex="0">
  <span class="upload-button-text" role="button">{{ 'Browse File'|t }}</span>
  {% include '@atoms_reborn/buttons/_button.twig' with {
      'attributes': attributes,
      'children': children,
    }
  %}
</div>
