<h1>Links</h1>

<table class="links-demo">
  <tr class="links-demo--normal">
    <td>NORMAL</td>
    <td><a href="#">Link</a></td>
    <td><span class="links-demo-colorbox"></span></td>
  <tr class="links-demo--hover">
    <td>HOVER</td>
    <td><a href="#">Link</a></td>
    <td>Decoration: underline</td>
  </tr>
  <tr class="links-demo--visited">
    <td>VISITED</td>
    <td><a href="#">Link</a></td>
    <td><span class="links-demo-colorbox"></span></td>
  </tr>
</table>