<div class="user-login-pages">
  {% include "@templates_reborn/login-template/_login-layout.twig" with {
    'main_content': page.content,
    'footer_first': page.footer_first,
    'footer_second': page.footer_second,
    'login_page': TRUE
  }
  %}
</div>
